.error{
  border:5px solid red;
}
table{
	font-family: Arial;
	border:1px solid black;
}
select{
	font-family: Arial;
	border:1px solid black;
}
button{
	border: 1px solid black;
}
input{
	border:1px solid black;
}